<!DOCTYPE html>
<html ng-app="MiPrimeraApp">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Mi primera página con Angular JS</title>
    <meta charset="utf-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
    <script src="Scripts/primer_controller.js"></script>
</head>
<body ng-controller="FirstController">
    <h1>Parte 1</h1>
    Escribe tú nombre:
    <br />
    <input type="text" ng-model="nombre" />
    <br />
    <br />
    {{"Hola " + nombre}}
    <br />
    <br />
    <hr />
    <h1>Parte 2</h1>
    Escribe tú comentario:
    <br />
    <input type="text" ng-model="nuevoComentario.comentario" />
    <br />
    <br />
    Escribe tú nombre: 
    <br />
    <input type="text" ng-model="nuevoComentario.nombre" />
    <br />
    <br />
    <button ng-click="agregarComentario()">Agregar comentario</button>
    <h3>Comentarios</h3>
    <ul>
        <li ng-repeat="comentario in comentarios">
            {{comentario.comentario}} - <strong>{{comentario.nombre}}</strong>
        </li>
    </ul>
    <br />
    <br />
    <hr />
    <h1>Parte 3</h1>
    <ul>
        <li ng-repeat="estudiante in estudiantes">
            {{estudiante.Nombres}} {{estudiante.Apellidos}} - <strong>{{estudiante.FechaVinculacion}}</strong>
        </li>
    </ul>
    <hr />
    <h1>Parte 4</h1>
    Nombres: 
    <br />
    <input type="text" ng-model="nuevoEstudiante.nombres" />
    <br />
    Apellidos: 
    <br />
    <input type="text" ng-model="nuevoEstudiante.apellidos" />
    <br />
    Fecha vinculación: 
    <br />
    <input type="text" ng-model="nuevoEstudiante.fechaVinculacion" />
    <br />
    <br />
    <button ng-click="agregarEstudiante()">Agregar estudiante</button>
</body>
</html>