<form ng-submit="guardarEstudiante()">
    <div class="card top-space">
        <div class="p+">
            <h1>{{titulo}}</h1>
            <div flex-container="row">
                <div flex-item>
                    <lx-text-field label="Nombres">
                        <input type="text" ng-model="estudiante.Nombres" />
                    </lx-text-field>
                </div>
            </div>
            <div flex-container="row">
                <div flex-item>
                    <lx-text-field label="Apellidos">
                        <input type="text" ng-model="estudiante.Apellidos" />
                    </lx-text-field>
                </div>
            </div>
            <div flex-container="row">
                <div flex-item>
                    <lx-text-field label="Fecha Vinculación">
                        <input type="text" ng-model="estudiante.FechaVinculacion" />
                    </lx-text-field>
                </div>
            </div>
            <div class="card__actions">
                <button type="submit" class="btn btn--blue btn--l btn--raised">
                    Guardar
                </button>
            </div>
        </div>
    </div>
</form>